@import "tailwindcss";

:root {
  --background: rgb(255, 242, 230);
  --flagGradient: #111;
  --foreground: #010101;
  --primary: #f08000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-flagGradient: var(--flagGradient);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* =========================
   React Big Calendar
   ========================= */

.rbc-today {
  background-color: color-mix(
    in srgb,
    var(--primary) 15%,
    transparent
  ) !important;
}

/* Botones activos */
.rbc-toolbar button.rbc-active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--foreground) !important;
}

/* Hover de botones */
.rbc-toolbar button:hover,
.rbc-toolbar button:focus {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

/* Eventos */
.rbc-event {
  color: var(--foreground);
}

.rbc-event.rbc-selected {
  background-color: var(--primary) !important;
}

/* Selección de slots */
.rbc-slot-selection {
  background-color: color-mix(
    in srgb,
    var(--primary) 30%,
    transparent
  ) !important;
}

/* Background events */
.rbc-day-slot .rbc-background-event {
  background-color: var(--primary) !important;
}

/* Indicador de hora actual */
.rbc-current-time-indicator {
  background-color: var(--primary) !important;
}
